DEBUG=True
SECRET_KEY=troque-esta-chave-em-producao
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
POSTGRES_DB=fusion_cargas
POSTGRES_USER=fusion
POSTGRES_PASSWORD=fusion123
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0

RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_LOGIN_PER_MINUTE=5
RATE_LIMIT_API_PER_MINUTE=120
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000

# V8 - Channels
CHANNEL_LAYER_BACKEND=channels.layers.InMemoryChannelLayer

# Mapas / rastreamento - V9
GOOGLE_MAPS_API_KEY=
MAPBOX_TOKEN=
